{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <div class="about-section">
        <div class="about agile-44">
            <div class="container">
                <div class="about-top heading">
                    <h2>关于我们</h2>
                </div>
                <div class="about-bottom">
                    <h3 align="center">
                        Advanced 公司介绍
                        <br/><br/>
                    </h3>

                    <div align="center">
                        <br/><br/>
                        <img src="/static/web/images/hongda.jpg" class="img-responsive">
                        <br/><br/>
                    </div>
                    <p>Advance Aerogel LLC是北京弘大科技股份有限公司和北京弘纳绿源科技发展有限公司的美国独家代理商</p>
                    <p>
                        气凝胶是世界上最棒的新材料之一， 由美国国家航空航天局（NASA）开发，并在过去几十年中开始商业应用。它是一类
                        不同的超低密度固体，它们将多种不同的和极端的材料特性组合到一个材料包膜中。气凝胶材料通常表现出高度的孔隙率，
                        高的比表面积和最高级的能量阻尼（热，声和冲击）性能。<br/><br/>
                        二氧化硅气凝胶是一种常见的气凝胶，结合了超低导热率（低至10 mW m-1 K-1）和极低的密度（低至0.001 g cm-3），
                        高比表面积（500-2000 m2）g-1），低介电常数（低至1.02）和良好的光学透明性（每厘米〜91％），使其作为高性能
                        具有独特的价值绝缘体，化学传感器和催化剂的载体以及颗粒检测器。<br/><br/>

                    </p>
                </div>
            </div>
        </div>
        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>弘大科技（北京）股份公司介绍</h3><br/>
                    <br/><br/>
                    {#                    <img src="/static/web/images/liguangwu.jpg" class="img-responsive">#}
                </div>
                弘大科技（北京）股份公司是从事新材料、新能源、节能环保等战略新兴产业研发、生产及销售的高新技术企业，总部位于中关村科技城。

                <br/><br/>公司全体同仁在“中关村高端领军人才”李光武董事长的带领下独立自主研发，在全球最具潜力十大新材料中已成功突破三项：
                气凝胶非超临界产业化制备、非晶金属块材制备、创新了微晶纳孔金属；同时，在研发新能源蓄能、雾霾控制、生物灭菌、土壤改良、半导体基片制备等技术方面均有领先世界的重大创新突破，已申请和获得45项专利（其中8项PCT、22项发明。）
                弘大科技，一个为世界科技进步做出贡献的中国企业。
                <br/><br/>创始人介绍
                李光武，1983年毕业于北京大学化学系，获评中关村高端领军人才、中关村十大创业未来之星、北京榜样、武汉黄鹤英才等荣誉；现任住建部绿色建材创新战略联盟专家委员会副主任委员、北京武汉企业商会副会长
                。他决心用有生之年尽毕生学识，为提高中国应用工程技术水平不断奋斗，立志用科技贡献赢得世界对中国的更多尊敬！ 核心技术:纳米材料气凝胶的非超临界产业化制备技术
                气凝胶，世界上最轻的固体、导热系数最低的材料，SCIENCE将气凝胶列为全球最具潜力十大新材料之一。
                气凝胶在热学、光学、电学、力学、声学等领域显示了许多奇特的性能，创下15
                项吉尼斯纪录，被称之为“一个可以改变世界的神奇材料”，是具有巨大应用价值的军民两用技术，无论美国航天飞机还是战斗机都已经使用气凝胶用于隐形和防护。全球气凝胶最大生产厂家阿斯彭隶属于美国宇航局，因价格昂贵其产品主要应用在航天军事石油。
                “气凝胶低成本产业化工艺技术和成套生产线项目”是李光武董事长带领研发团队历时近5年时间独立自主设计研发、突破关键核心技术、全过程实现国产化的原创性成果。该成果打破了国外专利封锁，批量产出的“神奇材料”气凝胶技术指标远超美国，已处于世界领先地位，且设备投资仅为世界普遍采用超临界干燥法的二十分之一。
                该项中国自主知识产权已获得国家发明和实用新型专利各1项，PCT国际专利申请已提交至美国、欧盟、日本、韩国等国家地区取得了受理号并公开。
                基于气凝胶的诸多优良特性，我公司持续研发了针对气凝胶应用的世界领先应用工程技术几十项，已申请国家发明专利12项、申请PCT国际专利 7项。
                气凝胶作为基础材料，应用范围极其广泛，将为我国节能环保、绿色建筑、国防军工、智能制造、轨道交通、新能源、石油化工、新能源汽车等产业领域快速发展做出举足轻重的贡献。

                <br/><br/><br/><br/>
                <div align="center">
                    <h3>弘纳绿源公司介绍</h3><br/>
                    <br/>
                </div>
                <p>
                    北京弘纳绿源科技发展有限公司成立于2017年，是一家以绿色环保技术研发、环保产品生产与服务、环保工程咨询与实施为主的高科技企业，公司秉持人与自然和谐相处的理念，始终倡导绿色、生态的环保新导向。公司核心高科技产品是植物源无毒杀菌除臭剂，其技术由公司董事长历经十余年持续研发改进，具有自主知识产权，产品可高效除臭、除异味；能消毒杀菌、能杀虫灭卵、能驱蚊灭蝇、无毒、无残留、无公害。该产品集杀虫杀菌为一体，施用方便快捷，广泛适用于绿色种植及养殖、卫生消杀等方面，尤其适用于城市环卫垃圾处理和城市园林绿化。
                    <br/>
                </p>

            </div>
        </div>


{#        <div class="services w3agile-11">#}
{#            <div class="container">#}
{#                <div class="row col-sm-12">#}
{#                    <h3 align="center">#}
{#                        弘大气凝胶的现状#}
{#                        <br/><br/>#}
{#                    </h3>#}
{##}
{##}
{#                    <div>#}
{#                        <a name="a1" id="a1"></a>#}
{#                        <h3>1. 气凝胶粉</h3><br/>#}
{#                        我们的气凝胶粉末尺寸为5-10 nm，热导率为0.013 W /（m·K）。#}
{#                        可用作制造所有其他气凝胶产品的原料。#}
{#                        <div align="center">#}
{#                            <br/><br/>#}
{#                            <img src="/static/web/images/fenmo.jpg" class="img-responsive">#}
{#                            <br/><br/>#}
{#                        </div>#}
{#                        <br/>#}
{#                        规格：<br/>#}
{#                        <div class="bs-docs-example">#}
{#                            <table class="table table-bordered">#}
{#                                <thead>#}
{#                                <tr>#}
                                    {#                                <th></th>#}
{#                                    <th>特征</th>#}
{#                                    <th>型号</th>#}
{#                                    <th>分子大小（UM）</th>#}
{#                                    <th>重量（kg/m3）</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                <tr>#}
                                    {#                                <td rowspan="8">AEROGEL</td>#}
{#                                    <td rowspan="4">亲水</td>#}
{#                                    <td>HD-QNJQS-40-01</td>#}
{#                                    <td>5-15</td>#}
{#                                    <td>40</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJQS-40-02</td>#}
{#                                    <td>15-30</td>#}
{#                                    <td>40</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJQS-70-01</td>#}
{#                                    <td>5-15</td>#}
{#                                    <td>70</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJQS-70-02</td>#}
{#                                    <td>15-30</td>#}
{#                                    <td>70</td>#}
{#                                </tr>#}
{##}
{#                                <tr>#}
{#                                    <td rowspan="4">疏水</td>#}
{#                                    <td>HD-QNJSS-40-01</td>#}
{#                                    <td>5-15</td>#}
{#                                    <td>40</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJSS-40-02</td>#}
{#                                    <td>15-30</td>#}
{#                                    <td>40</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJSS-70-01</td>#}
{#                                    <td>5-15</td>#}
{#                                    <td>70</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>HD-QNJSS-70-02</td>#}
{#                                    <td>15-30</td>#}
{#                                    <td>70</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                        <br/><br/>#}
{##}
{#                        <div class="bs-docs-example">#}
{#                            <table class="table table-bordered">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th>性能</th>#}
{#                                    <th>检测结果</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>导热系数，W/(m·K)</td>#}
{#                                    <td>0.013</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>孔隙率，%</td>#}
{#                                    <td>92</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>密度，kg/m3</td>#}
{#                                    <td>22</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>疏水性，%</td>#}
{#                                    <td>95</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>表面重量比，m2/g</td>#}
{#                                    <td>960</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{#                    <br/><br/>#}
{#                    <div>#}
{#                        <a name="a2"></a>#}
{#                        <h3>2. 气凝胶保温毯:</h3><br/>#}
{##}
{#                        气凝胶保温毯是涂有气凝胶的纤维网片。它具有最佳的隔热性能，是石油工业，低温工业（例如LNG运输，管道），电力工业，#}
{#                        建筑工业等的理想隔热材料。<br/><br/>#}
{##}
{#                        <div align="center">#}
{#                            <br/><br/>#}
{#                            <img src="/static/web/images/baowenzhan.png" class="img-responsive">#}
{#                            <br/><br/>#}
{#                        </div>#}
{##}
{#                        北京弘大科技股份有限公司开发了另一项特有技术，使我们的气凝胶保温毯大大优于其他同类产品。传统上，将气凝胶涂覆到纤#}
{#                        维网工艺是通过将织物浸入涂覆液中来完成的。然后取出并加热烘干。通过此过程制成的产品存在一些主要的质量问题：随着毯#}
{#                        子弯曲或在雨和阳光作用下，涂层将剥落，导致热保护作用降低，从而需要添加或更换气凝胶保温毯。<br/><br/>#}
{##}
{#                        我们的技术使用真空负压力将气凝胶吸入纤维片中并与纤维混合。这使我们的产品与其他产品有很大的不同，因为它们几乎不会#}
{#                        剥落并且不容易老化。因此，不需频繁增加或更换产品，客户可以享受更长的保温时间并节省成本。<br/><br/>#}
{##}
{##}
{#                        产品规格:<br/><br/><br/>#}
{##}
{##}
{#                        <div class="bs-docs-example">#}
{#                            <table class="table table-bordered">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th>气凝胶保温产品</th>#}
{#                                    <th>大小 (单位mm)</th>#}
{#                                    <th>特点</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>保温毯</td>#}
{#                                    <td>35000 X 1500 X 10 /卷。 长度可预订</td>#}
{#                                    <td>重量: 1800±200g/㎡ <br/>#}
{#                                        导热系数: 0.023W/(m·K)#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>THERMAL BLANKET</td>#}
{#                                    <td>55000 × 1500 × 6 /卷。 长度可预订</td>#}
{#                                    <td>重量: 1080±120g/㎡ <br/>导热系数: 0.023W/(m·mmK)#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>THERMAL BLANKET</td>#}
{#                                    <td>75000×1500×3 /卷。 长度可预订#}
{#                                    </td>#}
{#                                    <td>重量: 480±65g/㎡<br/>#}
{#                                        导热系数: 0.023W/(m·K)#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>THERMAL BOARD</td>#}
{#                                    <td>750×600×20 长宽可预订#}
{#                                    </td>#}
{#                                    <td>导热系数: 0.032W/(m·K)</td>#}
{#                                </tr>#}
{##}
{#                                <tr>#}
{#                                    <td>THERMAL BOARD</td>#}
{#                                    <td>1500×100×20 长宽可预订#}
{##}
{#                                    </td>#}
{#                                    <td>导热系数: 0.032W/(m·K)</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}

        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>弘大的其他技术</h3><br/>

                </div>
                <p>
                    弘大科技（北京）股份公司在研发新能源蓄能、雾霾控制、生物灭菌、土壤改良、半导体基片制备等技术方面均有领先世界的重大创新突破，已申请和获得45项专利（其中8项PCT、22项发明。）
                    <br/>弘大科技，一个为世界科技进步做出贡献的中国企业。
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
