{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <div class="about-section">
        <div class="about agile-44">
            <div class="container">
                <div class="about-top heading">
                    <h2>关于我们</h2>
                </div>
                <div class="about-bottom">
                    <h3 align="center">
                        Advance 公司介绍
                        <br/><br/>
                    </h3>

                    <div align="center">
                        <br/><br/>
                        <img src="/static/web/images/hongda.jpg" class="img-responsive">
                        <br/><br/>
                    </div>
                    <p>Advance Aerogel LLC是北京弘大科技股份有限公司的美国独家代理商</p>
                    <p>
                        气凝胶是世界上最棒的新材料之一， 由美国国家航空航天局（NASA）开发，并在过去几十年中开始商业应用。它是一类
                        不同的超低密度固体，它们将多种不同的和极端的材料特性组合到一个材料包膜中。气凝胶材料通常表现出高度的孔隙率，
                        高的比表面积和最高级的能量阻尼（热，声和冲击）性能。<br/><br/>
                        二氧化硅气凝胶是一种常见的气凝胶，结合了超低导热率（低至10 mW m-1 K-1）和极低的密度（低至0.001 g cm-3），
                        高比表面积（500-2000 m2）g-1），低介电常数（低至1.02）和良好的光学透明性（每厘米〜91％），使其作为高性能
                        具有独特的价值绝缘体，化学传感器和催化剂的载体以及颗粒检测器。<br/><br/>

                    </p>
                </div>
            </div>
        </div>
        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>介绍合作伙伴</h3><br/>
                    <br/><br/>
                    <img src="/static/web/images/liguangwu.jpg" class="img-responsive">
                    <br/><br/>
                </div>
                <p>李光武先生于2013年创立了北京弘大科技股份有限公司</p>
                <p>
                    李先生通过长期的研究开发了一种分级减压法的专利技术，可以低成
                    本生产性能更佳的气凝胶，为其在更多行业中的广泛应用打开了大门。
                </p>
            </div>
        </div>


        <div class="services w3agile-11">
            <div class="container">
                <div class="row col-sm-12">
                    <h3 align="center">
                        弘大气凝胶的现状
                        <br/><br/>
                    </h3>


                    <div>
                        <a name="a1" id="a1"></a>
                        <h3>1. 气凝胶粉</h3><br/>
                        我们的气凝胶粉末尺寸为5-10 nm，热导率为0.013 W /（m·K）。
                        可用作制造所有其他气凝胶产品的原料。
                        <div align="center">
                            <br/><br/>
                            <img src="/static/web/images/fenmo.jpg" class="img-responsive">
                            <br/><br/>
                        </div>
                        <br/>
                        规格：<br/>
                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    {#                                <th></th>#}
                                    <th>特征</th>
                                    <th>型号</th>
                                    <th>分子大小（UM）</th>
                                    <th>重量（kg/m3）</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {#                                <td rowspan="8">AEROGEL</td>#}
                                    <td rowspan="4">亲水</td>
                                    <td>HD-QNJQS-40-01</td>
                                    <td>5-15</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-40-02</td>
                                    <td>15-30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-70-01</td>
                                    <td>5-15</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-70-02</td>
                                    <td>15-30</td>
                                    <td>70</td>
                                </tr>

                                <tr>
                                    <td rowspan="4">疏水</td>
                                    <td>HD-QNJSS-40-01</td>
                                    <td>5-15</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-40-02</td>
                                    <td>15-30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-70-01</td>
                                    <td>5-15</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-70-02</td>
                                    <td>15-30</td>
                                    <td>70</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/><br/>

                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>性能</th>
                                    <th>检测结果</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>导热系数，W/(m·K)</td>
                                    <td>0.013</td>
                                </tr>
                                <tr>
                                    <td>孔隙率，%</td>
                                    <td>92</td>
                                </tr>
                                <tr>
                                    <td>密度，kg/m3</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>疏水性，%</td>
                                    <td>95</td>
                                </tr>
                                <tr>
                                    <td>表面重量比，m2/g</td>
                                    <td>960</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <br/><br/>
                    <div>
                        <a name="a2"></a>
                        <h3>2. 气凝胶保温毯:</h3><br/>

                        气凝胶保温毯是涂有气凝胶的纤维网片。它具有最佳的隔热性能，是石油工业，低温工业（例如LNG运输，管道），电力工业，
                        建筑工业等的理想隔热材料。<br/><br/>

                        <div align="center">
                            <br/><br/>
                            <img src="/static/web/images/baowenzhan.png" class="img-responsive">
                            <br/><br/>
                        </div>

                        北京弘大科技股份有限公司开发了另一项特有技术，使我们的气凝胶保温毯大大优于其他同类产品。传统上，将气凝胶涂覆到纤
                        维网工艺是通过将织物浸入涂覆液中来完成的。然后取出并加热烘干。通过此过程制成的产品存在一些主要的质量问题：随着毯
                        子弯曲或在雨和阳光作用下，涂层将剥落，导致热保护作用降低，从而需要添加或更换气凝胶保温毯。<br/><br/>

                        我们的技术使用真空负压力将气凝胶吸入纤维片中并与纤维混合。这使我们的产品与其他产品有很大的不同，因为它们几乎不会
                        剥落并且不容易老化。因此，不需频繁增加或更换产品，客户可以享受更长的保温时间并节省成本。<br/><br/>


                        产品规格:<br/><br/><br/>


                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>气凝胶保温产品</th>
                                    <th>大小 (单位mm)</th>
                                    <th>特点</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>保温毯</td>
                                    <td>35000 X 1500 X 10 /卷。 长度可预订</td>
                                    <td>重量: 1800±200g/㎡ <br/>
                                        导热系数: 0.023W/(m·K)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BLANKET</td>
                                    <td>55000 × 1500 × 6 /卷。 长度可预订</td>
                                    <td>重量: 1080±120g/㎡ <br/>导热系数: 0.023W/(m·mmK)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BLANKET</td>
                                    <td>75000×1500×3 /卷。 长度可预订
                                    </td>
                                    <td>重量: 480±65g/㎡<br/>
                                        导热系数: 0.023W/(m·K)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BOARD</td>
                                    <td>750×600×20 长宽可预订
                                    </td>
                                    <td>导热系数: 0.032W/(m·K)</td>
                                </tr>

                                <tr>
                                    <td>THERMAL BOARD</td>
                                    <td>1500×100×20 长宽可预订

                                    </td>
                                    <td>导热系数: 0.032W/(m·K)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>弘大的其他技术</h3><br/>

                </div>
                <p>
                    弘大科技（北京）股份公司在研发新能源蓄能、雾霾控制、生物灭菌、土壤改良、半导体基片制备等技术方面均有领先世界的重大创新突破，已申请和获得45项专利（其中8项PCT、22项发明。）
                    <br/>弘大科技，一个为世界科技进步做出贡献的中国企业。
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
