{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">气凝胶简介</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            气凝胶，又称为干凝胶。当凝胶脱去大部分溶剂，使凝胶中液体含量比固体含量少得多，或凝胶的空间网状结构中充满的介质是气体，外表呈固体状，这即为干凝胶，也称为气凝胶。<br/><br/>
                            气凝胶是一种固体物质形态，世界上密度很小的固体之一。因为密度极低，目前最轻的气凝胶仅有0.16毫克每立方厘米，比空气密度略低，所以也被叫做“冻结的烟”或“蓝烟”。气凝胶的种类很多，有硅系，碳系，硫系，金属氧化物系，金属系等等。真正的气凝胶颗粒在电子显微镜下表面是分布纳米孔隙的。
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
