{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">气凝胶简介</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            气凝胶是一种衍生自凝胶的多孔，超轻，合成材料，其中凝胶的液体成分被气体代替，导致它成为一种密度及热导率极低的固体。目前密度最低的气凝胶仅有0.16毫克每立方厘米，比空气密度略低。由于其半透明性以及光线在物质中的散射能力所以也被叫做“冻结的烟”或“蓝烟”。气凝胶的种类很多，有硅系，碳系，硫系，金属氧化物系，金属系等等。在电子显微镜下,
                            真正的气凝胶颗粒的表面上分布着纳米孔隙。
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
