{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">气凝胶工业的发展</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            气凝胶是一种具有纳米多孔结构的新型材料，1931年由美国科学工作者S.Kistler制得，因轻若薄雾、颜色泛蓝，又被称之为“蓝烟”、“冻结的烟”，发明初期被应用到牙膏和化妆品上。后经法国、德国等多国的科学家多年的研究与探索，气凝胶从硅系、碳系、硫系发展到金属系等多品种，应用范围也有很大扩展，在1993年美国NASA就已将气凝胶应用到航空航天领域。目前它已被广泛的应用于保温绝热、服装、金属改性和环境治理等多用途，发展前景广阔被喻为新世纪十大新材料。但是现在制约气凝胶进一步大力发展的原因是由于制做工艺复杂且规模化生产不够大，带来产品价格昂贵且产量不足，市场应用受到了一定限制。
                            <br/><br/>
                            近年来，弘大科技团队(中国)研发出了有别于传统的气凝胶超临界制做方法的递度减压法制做工艺，降低了大规模生产的难度，产品价格较大幅度降低，工艺技术取得了美国等多国专利，气凝胶产品质量优异，最近产品测试每立方米重量仅有22Kg，电子显微镜下是典型的纳米孔径材料。对气凝胶在各行业的推广应用提供了一个新的选择。
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
