{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">气凝胶简介</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            气凝胶是世界上最棒的新材料之一，
                            由美国国家航空航天局（NASA）开发，并在过去几十年中开始商业应用。它是一类不同的超低密度固体，它们将多种不同的和极端的材料特性组合到一个材料包膜中。气凝胶材料通常表现出高度的孔隙率，高的比表面积和最高级的能量阻尼（热，声和冲击）性能。
                            二氧化硅气凝胶是一种常见的气凝胶，结合了超低导热率（低至10 mW m-1 K-1）和极低的密度（低至0.001 g cm-3），高比表面积（500-2000
                            m2）g-1），低介电常数（低至1.02）和良好的光学透明性（每厘米〜91％），使其作为高性能具有独特的价值绝缘体，化学传感器和催化剂的载体以及颗粒检测器。
                            李光武先生于2013年创立了北京弘大科技股份有限公司。李先生通过长期的研究开发了一种分级减压法的专利技术，可以低成本生产性能更佳的气凝胶，为其在更多行业中的广泛应用打开了大门。
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
