{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">我们提供的气凝胶</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            Advanced Aerogel
                            LLC是北京弘大科技股份有限公司的美国独家代理商。李光武先生于2013年创立了北京弘大科技股份有限公司，李先生通过长期的研究开发了一种分级减压法的专利技术，与传统工艺比，可以降低生产成
                            本、更容易规模化生产、性能更佳的气凝胶产品，为其在更多行业中的广泛应用打开了大门。并取得美国等多国专利。
                            最新检测气凝胶产品性能指标如下:<br/>
                            导热系数，W/(m·K): 0.013;<br/>
                            孔隙率，% : 92;<br/>
                            密度，kg/m^3: 22;<br/>
                            疏水性，%: 95;<br/>
                            表面重量比，m^2/g: 960<br/>

                            <br/><br/>
                            我公司代理的宏纳弘纳绿源公司生产的绝热保温毡板系列产品，是北京弘大科技股份有限公司开发了另一项特有技术，使我们的气凝胶保温毯大大优于其他同类产品。传统上，将气凝胶涂覆到纤
                            维网工艺是通过将织物浸入涂覆液中来完成的。然后取出并加热烘干。通过此过程制成的产品存在一些主要的质量问题：随着毯
                            子弯曲或在雨和阳光作用下，涂层将剥落，导致热保护作用降低，从而需要添加或更换气凝胶保温毯。
                            <br/><br/>
                            我们的技术使用真空负压力将气凝胶吸入纤维片中并与纤维混合。这使我们的产品与其他产品有很大的不同，因为它们几乎不会
                            剥落并且不容易老化。因此，不需频繁增加或更换产品，客户可以享受更长的保温时间并节省成本。

                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
