{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">宏纳绿源公司介绍</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            北京弘纳绿源科技发展有限公司成立于2017年，是一家以绿色环保技术研发、环保产品生产与服务、环保工程咨询与实施为主的高科技企业，公司秉持人与自然和谐相处的理念，始终倡导绿色、生态的环保新导向。公司核心高科技产品是植物源无毒杀菌除臭剂，其技术由公司董事长历经十余年持续研发改进，具有自主知识产权，产品可高效除臭、除异味；能消毒杀菌、能杀虫灭卵、能驱蚊灭蝇、无毒、无残留、无公害。该产品集杀虫杀菌为一体，施用方便快捷，广泛适用于绿色种植及养殖、卫生消杀等方面，尤其适用于城市环卫垃圾处理和城市园林绿化。
                            <br/><br/>

                        </p>
                    </div>
                    {#                        <div class="clearfix"></div>#}
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
