{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">弘大科技（北京）股份公司介绍</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>

                            弘大科技（北京）股份公司是从事新材料、新能源、节能环保等战略新兴产业研发、生产及销售的高新技术企业，总部位于中关村军民融合产业园。

                            <br/><br/>公司全体同仁在“中关村高端领军人才”李光武董事长的带领下独立自主研发，在全球最具潜力十大新材料中已成功突破三项：
                            气凝胶非超临界产业化制备、非晶金属块材制备、创新了微晶纳孔金属；同时，在研发新能源蓄能、雾霾控制、生物灭菌、土壤改良、半导体基片制备等技术方面均有领先世界的重大创新突破，已申请和获得45项专利（其中8项PCT、22项发明。） 弘大科技，一个为世界科技进步做出贡献的中国企业。
                            <br/><br/>创始人介绍 李光武，1983年毕业于北京大学化学系，中国共产党党员，获评中关村高端领军人才、中关村十大创业未来之星、北京榜样、武汉黄鹤英才等荣誉；现任住建部绿色建材创新战略联盟专家委员会副主任委员、北京武汉企业商会副会长；
                            曾获北京市优秀科技干部和北京市爱国立功标兵。作为一名热爱祖国的中国共产党员，他决心用有生之年尽毕生学识，为提高中国应用工程技术水平不断奋斗，立志用科技贡献赢得世界对中国的更多尊敬！ 核心技术:纳米材料气凝胶的非超临界产业化制备技术 气凝胶，世界上最轻的固体、导热系数最低的材料，SCIENCE将气凝胶列为全球最具潜力十大新材料之一。
                            气凝胶在热学、光学、电学、力学、声学等领域显示了许多奇特的性能，创下15 项吉尼斯纪录，被称之为“一个可以改变世界的神奇材料”，是具有巨大应用价值的军民两用技术，无论美国航天飞机还是战斗机都已经使用气凝胶用于隐形和防护。全球气凝胶最大生产厂家阿斯彭隶属于美国宇航局，因价格昂贵其产品主要应用在航天军事石油。
                            “气凝胶低成本产业化工艺技术和成套生产线项目”是李光武董事长带领研发团队历时近5年时间独立自主设计研发、突破关键核心技术、全过程实现国产化的原创性成果。该成果打破了国外专利封锁，批量产出的“神奇材料”气凝胶技术指标远超美国，已处于世界领先地位，且设备投资仅为世界普遍采用超临界干燥法的二十分之一。
                            该项中国自主知识产权已获得国家发明和实用新型专利各1项，PCT国际专利申请已提交至美国、欧盟、日本、韩国等国家地区取得了受理号并公开。 基于气凝胶的诸多优良特性，我公司持续研发了针对气凝胶应用的世界领先应用工程技术几十项，已申请国家发明专利12项、申请PCT国际专利 7项。
                            气凝胶作为基础材料，应用范围极其广泛，将为我国节能环保、绿色建筑、国防军工、智能制造、轨道交通、新能源、石油化工、新能源汽车等产业领域快速发展做出举足轻重的贡献。

                        </p>
                    </div>
                    {#                        <div class="clearfix"></div>#}
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
