{% extends "web_cn/base.html" %}
{% load static %}
{% block content %}

    <div class="typo">
        <div class="about-top heading" align="center" style="color: #39BC54;">
            <h2>近期新闻</h2>
        </div>
    <br/>
    <br/>
        <div class="container">

            <div class="row">
                {% for blog in data %}
                    <div class="col-md-6" style="margin-bottom: 30px">
                        <div class="ser-img">
                            <img src="/media/{{ blog.imgpic_640x427 }}" alt=" ">
                        </div>
                        <div class="caption">
                            <h4><a href="detail/{{ blog.id }}">{{ blog.title }}</a></h4>
                            <p>
                                {{ blog.introduction }}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                {% endfor %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}
