{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <div class="about-section">
        <div class="about agile-44">
            <div class="container">
                <div class="about-top heading">
                    <h2>About Us</h2>
                </div>
                <div class="about-bottom">
                    <h3>
                        Advance Aerogel LLC is the exclusive distributor for Hong Hitech(Beijing) Co. Ltd.<br/><br/>
                    </h3>
                    <div align="center">
                        <br/><br/>
                        <img src="/static/web/images/hongda.jpg" class="img-responsive">
                        <br/><br/>
                    </div>
                    <p>
                        Aerogel is one of the best new material in the world, which is developed by NASA and applied to
                        commercial use in last couple of decades.<br/><br/>
                        Aerogels are a diverse class of ultralow density solids that combine multiple disparate and
                        extreme materials properties into a single material envelope. Aerogel materials generally
                        exhibit a high degree of porosity, high specific surface area, and superlative energy damping
                        (thermal, acoustic, and impact) properties.<br/><br/>
                        Silica aerogels are a common type of aerogel that combine ultralow thermal conductivity (as low
                        as 10 mW m-1 K-1) with extremely low density (as low as 0.001 g cm-3), high specific surface
                        area (500-2000 m2 g-1), low dielectric constant (as low as 1.02), and good optical transparency
                        (~91% per cm), making them uniquely valuable as high-performance insulators, supports for
                        chemical sensors and catalysts, and particle detectors.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-middle">
            <div class="container">

                <div align="center">
                    <h3>
                        Hongna Luyuan Technology Development Co., Ltd.
                    </h3><br/>
                </div>
                <div align="center">
                    <br/><br/>
                    {#                    <img src="/static/web/images/liguangwu.jpg" class="img-responsive">#}
                    {#                    <br/><br/>#}
                </div>
                <p>

                    We are the exclusive distributor of Hong Hitech Co. (Beijing) Ltd. and Hongna luyuan
                    Technology Development Co. Ltd. In North America region.
                    <br/><br/>


                    Founded in 2017, Beijing Hongna Luyuan Technology Development Co., Ltd. is a high-tech
                    enterprise focusing on environmental technology research and development, environmental
                    protect production and service, environmental engineering consulting and implementation.
                    The company adheres to the concept of harmony between human-being and nature and
                    advocate green and ecological new environmental protection. The company's core high-tech
                    products are plant-derived non-toxic germicidal deodorants. Its technology has been
                    continuously researched and improved by the company's chairman for more than ten years.
                    It has independent intellectual property rights, and its products can deodorize and
                    remove odors efficiently; it can be disinfected, eliminate insects eggs, repel
                    mosquitoes, fly, non-toxic, no residue, no pollution. The product is convenient and
                    quick to apply. It can be widely used in planting and breeding, sanitation, etc. It is
                    especially suitable for urban sanitation garbage disposal and urban gardening.

                </p>
            </div>
        </div>

        <div class="services w3agile-11">
            <div class="container">
                <div class="row col-sm-12">
                    <div align="center">
                        <h2>aerogel</h2>
                    </div>

                    <div>
                        <a name="a1"></a>
                        <h3>1. Aerogel</h3><br/>
                        Our aerogel powder is of 5-10 nm in size, with thermal conductivity of 0.013 W/(m·K). This can
                        be
                        used as raw material to make all other aerogel products.<br/>
                        <div align="center">
                            <br/><br/>
                            <img src="/static/web/images/fenmo.jpg" class="img-responsive">
                            <br/><br/>
                        </div>
                        Specifications: AEROGEL<br/>
                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    {#                                <th></th>#}
                                    <th>HYDRO FEATURE</th>
                                    <th>MODEL</th>
                                    <th>MOLECULE SIZE （UM）</th>
                                    <th>GRAVITY（kg/m3）</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {#                                <td rowspan="8">AEROGEL</td>#}
                                    <td rowspan="4">HYDROPHILIC</td>
                                    <td>HD-QNJQS-40-01</td>
                                    <td>5-15</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-40-02</td>
                                    <td>15-30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-70-01</td>
                                    <td>5-15</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJQS-70-02</td>
                                    <td>15-30</td>
                                    <td>70</td>
                                </tr>

                                <tr>
                                    <td rowspan="4">HYDROPHOBIC</td>
                                    <td>HD-QNJSS-40-01</td>
                                    <td>5-15</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-40-02</td>
                                    <td>15-30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-70-01</td>
                                    <td>5-15</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>HD-QNJSS-70-02</td>
                                    <td>15-30</td>
                                    <td>70</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/><br/>

                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>SPECIFICATIONS</th>
                                    <th>Test results</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>THERMAL CONDUCTIVITY，W/(m·K)</td>
                                    <td>0.013</td>
                                </tr>
                                <tr>
                                    <td> POROSITY，%</td>
                                    <td>92</td>
                                </tr>
                                <tr>
                                    <td>DENSITY，kg/m3</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>HYDRO REPELLING，%</td>
                                    <td>95</td>
                                </tr>
                                <tr>
                                    <td>SURFACE TO WEIGHT RATIO，m2/g</td>
                                    <td>960</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <br/><br/>
                    <div>
                        <a name="a2"></a>
                        <h3>2. Aerogel insulating blanket:</h3><br/>

                        Aerogel blanket are fiber mesh sheets coated with aerogel liquid. It has the best thermal
                        insulation
                        property and makes the ideal insulation wrapping for oil industry, the cryo industry (such as
                        LNG
                        shipping, piping), the power industry, the building industry etc.<br/><br/>
                        <div align="center">
                            <br/><br/>
                            <img src="/static/web/images/baowenzhan.png" class="img-responsive">
                            <br/><br/>
                        </div>
                        Hong Hitech has developed another patented technology to separate our aerogel sheet from others.
                        Traditionally, the coating of the aerogel onto fiber mesh is done by submerge the fabric into
                        the
                        coating liquid, then take out and heated to dry. The product made by this process has some major
                        quality
                        issue. As the blanket bend or with the rain and shine, the coating will peel out, then of course
                        the
                        thermal protection will decrease. You may need to add or replace the defect blanket.<br/><br/>

                        Our technology using high vacuum pressure to suck the aerogel into the fiber sheet and mixed
                        with
                        the
                        fiber. This made our product so much different from others as they almost will not peeling off
                        and
                        resist to whether beaten, so eliminate the chance to add or replace blanket cost. The customers
                        could
                        enjoy longer thermal insulating time and cost saving.<br/><br/>

                        HONG HITECH THERMAL BLANKET<br/><br/>

                        PRODUCTS SPECIFICATIONS:<br/><br/><br/>


                        <div class="bs-docs-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>AEROGEL THERMAL BLANKET</th>
                                    <th>SIZES (UNIT mm）</th>
                                    <th>SPECIFICATIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>THERMAL BLANKET</td>
                                    <td>35000 X 1500 X 10 in rolls. Length made to order</td>
                                    <td>Weight: 1800±200g/㎡ <br/>
                                        Heat conductivity: 0.023W/(m·K)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BLANKET</td>
                                    <td>55000 × 1500 × 6 in rolls. Length made to order</td>
                                    <td>Weight 1080±120g/㎡ <br/>Heat conductivity: 0.023W/(m·mmK)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BLANKET</td>
                                    <td>75000×1500×3
                                        in rolls. Length made to order
                                    </td>
                                    <td>Weight: 480±65g/㎡<br/>
                                        Heat conductivity: 0.023W/(m·K)
                                    </td>
                                </tr>
                                <tr>
                                    <td>THERMAL BOARD</td>
                                    <td>750×600×20
                                        Length & width made to order
                                    </td>
                                    <td>Heat conductivity 0.032W/(m·K)</td>
                                </tr>

                                <tr>
                                    <td>THERMAL BOARD</td>
                                    <td>1500×100×20
                                        Length & width made to order

                                    </td>
                                    <td>Heat conductivity 0.032W/(m·K)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>Hitech other technologies</h3><br/>

                </div>
                <p>
                    Hitech Co. not only developed this patented technology, but also developed a wide variety of
                    corollary aerogel products. These include aerogel raw powder, blankets, special polymer fibers,
                    coating materials and much more.
                </p>
            </div>
        </div>

    </div>
{% endblock content %}
