{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <div class="about-section">
        <div class="about agile-44">
            <div class="container">
                <div class="about-top heading">
                    <h2>About Us</h2>
                </div>
                <div class="about-bottom">
                    <h3 align="center">
                        Advance Aerogel LLC
                        <br/><br/>

                    </h3>
                    <div align="center">
                        <br/><br/>
                        <img src="/static/web/images/hongda.jpg" class="img-responsive">
                        <br/><br/>
                    </div>
                    <p>
                        Advance Aerogel LLC is the exclusive distributor for Hong Hitech(Beijing) Co. Ltd and Hongna
                        luyuan technology, Co,ltd in the U.S.<br/><br/>
                    </p>
                    <p>
                        Aerogel is one of the best new materials in the world. Developed by NASA, aerogel has been
                        applied to commercial use in the last couple of decades.<br/><br/>

                        Aerogel belongs to a class of ultralow density solids that combine disparate and extreme
                        materials properties into a single material envelope. Aerogel generally exhibits high porosity,
                        high specific surface area, and superlative energy damping (thermal, acoustic, and impact)
                        properties.


                        <br/><br/>
                        Silica aerogels are a common type of aerogel that combine ultralow thermal conductivity (as low
                        as 10 mW m-1 K-1) with extremely low density (as low as 0.001 g cm-3), high specific surface
                        area (500-2000 m2 g-1), low dielectric constant (as low as 1.02), and good optical transparency
                        (~91% per cm), making them uniquely valuable as high-performance insulators, supports for
                        chemical sensors and catalysts, and particle detectors.
                    </p>
                </div>
            </div>
        </div>


        <div class="about-middle">
            <div class="container">

                <div align="center">
                    <h3>
                        Hong Hitech(Beijing) Co. Ltd
                    </h3><br/>
                </div>
                <div align="center">
                    <br/><br/>
                    {#                    <img src="/static/web/images/liguangwu.jpg" class="img-responsive">#}
                    {#                    <br/><br/>#}
                </div>
                <p>

                    Hongda Technology (Beijing) Co., Ltd. is a high-tech enterprise engaged in R & D, production and
                    sales of strategic emerging industries such as new materials, new energy, energy conservation and
                    environmental protection, with its headquarters in Zhongguancun military civilian integration
                    industrial park. Under the leadership of chairman Li Guangwu, chairman of the board of directors of
                    "ZhongGuanCun high-end leading talents", all colleagues of the company have independently developed
                    and successfully broken through three of the top ten most potential new materials in the world
                    Aerogels have been prepared by non supercritical industrialization, amorphous metal blocks, and
                    innovative microcrystalline nano porous metals. At the same time, they have made significant
                    breakthroughs in the research and development of new energy storage, haze control, biological
                    sterilization, soil improvement, semiconductor substrate preparation, etc., and have applied for and
                    obtained 45 patents (including 8 PCT and 22 inventions). Hongda Technology is a Chinese enterprise
                    that contributes to the progress of world science and technology.<br/><br/>
                    Li Guangwu, the founder, graduated from the Department of chemistry, Peking University in 1983. He
                    was awarded the title of high-end leading talents of Zhongguancun, the top ten entrepreneurial stars
                    of Zhongguancun, Beijing model, and Wuhan Huanghe talents. He is now the vice chairman of the expert
                    committee of green building materials innovation strategic alliance of the Ministry of housing and
                    urban rural development and vice president of Beijing Wuhan enterprise chamber of Commerce. He is
                    determined to devote his whole life's knowledge to the improvement of China's applied engineering
                    technology, and is determined to win more respect from the world for China with its scientific and
                    technological contributions! Core technologies: nano scale aerogels, non-supercritical manufacturing
                    technology, aerogel, the world's lightest solid, the lowest thermal conductivity material, SCIENCE
                    aerogels as one of the ten most potential new materials in the world. Aerogels have shown many
                    unusual properties in the fields of heat, optics, electricity, mechanics, acoustics and so on. The
                    15 Guinness records, known as "a magic material that can change the world", is a dual-use technology
                    with great application value. Aerogels have been used for stealth and protection in the US space
                    shuttle or fighter plane. Aspen, the world's largest producer of aerogels, belongs to NASA. Its
                    products are mainly used in space military oil because of its high price. "Aerogel low cost
                    industrialization technology and complete production line project" is the original achievement of Li
                    Guangwu's research team that led the R & D team for nearly 5 years to independent design and
                    research and development, to break through the key core technology, and to achieve localization in
                    the whole process. The result has broken the blockade of foreign patents, and the "magic material"
                    of the batch production is far ahead of the United States, and has been in the leading position in
                    the world, and equipment investment is only 1/20 of the world's supercritical drying method. The
                    independent intellectual property right of China has obtained one national invention patent and one
                    utility model patent, and the PCT international patent application has been submitted to the United
                    States, the European Union, Japan, South Korea and other countries and regions, and has obtained the
                    acceptance number and made public. Based on many excellent characteristics of aerogels, our company
                    has continuously developed dozens of leading application engineering technologies for aerogel
                    applications, and have applied for 12 national invention patents and 7 international patents for PCT
                    applications. Aerogels are widely used as basic materials. They will make a significant contribution
                    to the rapid development of China's energy saving, environmental protection, green building,
                    national defense, military, intelligent manufacturing, rail transit, new energy, petrochemical, new
                    energy vehicles and other industries.


                </p>
            </div>
        </div>


        <div class="about-middle">
            <div class="container">

                <div align="center">
                    <h3>
                        Hongna Luyuan Technology Development Co., Ltd.
                    </h3><br/>
                </div>
                <div align="center">
                    <br/><br/>
                    {#                    <img src="/static/web/images/liguangwu.jpg" class="img-responsive">#}
                    {#                    <br/><br/>#}
                </div>
                <p>

                    Founded in 2017, Beijing Hongna Luyuan Technology Development Co., Ltd. is a high-tech enterprise
                    focusing on environmental technology research and development, production and service of
                    environmental protection product, and environmental engineering consulting and implementation. The
                    company adheres to the principle of harmony between human-being and nature by advocating green and
                    ecological environmental protection plans. The company's core high-tech product is a plant-derived
                    non-toxic germicidal deodorant. Its technology has been continuously researched and improved by the
                    company's chairman for more than ten years, and it has independent intellectual property rights.
                    This product can deodorize and remove odors efficiently; it can sterilize and eliminate insects and
                    eggs, repel mosquitoes and flies, and has no toxicity, no residue, and no pollution. The product is
                    convenient and quick to apply. It can be widely used in planting and breeding, sanitation,
                    especially in urban sanitation garbage disposal and urban gardening.

                </p>
            </div>
        </div>

        {#        <div class="services w3agile-11">#}
        {#            <div class="container">#}
        {#                <div class="row col-sm-12">#}
        {#                    <div align="center">#}
        {#                        <h2>aerogel</h2>#}
        {#                    </div>#}
        {##}
        {#                    <div>#}
        {#                        <a name="a1"></a>#}
        {#                        <h3>1. Aerogel</h3><br/>#}
        {#                        Our aerogel powder is of 5-10 nm in size, with thermal conductivity of 0.013 W/(m·K). This can#}
        {#                        be#}
        {#                        used as raw material to make all other aerogel products.<br/>#}
        {#                        <div align="center">#}
        {#                            <br/><br/>#}
        {#                            <img src="/static/web/images/fenmo.jpg" class="img-responsive">#}
        {#                            <br/><br/>#}
        {#                        </div>#}
        {#                        Specifications: AEROGEL<br/>#}
        {#                        <div class="bs-docs-example">#}
        {#                            <table class="table table-bordered">#}
        {#                                <thead>#}
        {#                                <tr>#}
        {#                                <th></th>#}
        {#                                    <th>HYDRO FEATURE</th>#}
        {#                                    <th>MODEL</th>#}
        {#                                    <th>MOLECULE SIZE （UM）</th>#}
        {#                                    <th>GRAVITY（kg/m3）</th>#}
        {#                                </tr>#}
        {#                                </thead>#}
        {#                                <tbody>#}
        {#                                <tr>#}
        {#                                <td rowspan="8">AEROGEL</td>#}
        {#                                    <td rowspan="4">HYDROPHILIC</td>#}
        {#                                    <td>HD-QNJQS-40-01</td>#}
        {#                                    <td>5-15</td>#}
        {#                                    <td>40</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJQS-40-02</td>#}
        {#                                    <td>15-30</td>#}
        {#                                    <td>40</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJQS-70-01</td>#}
        {#                                    <td>5-15</td>#}
        {#                                    <td>70</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJQS-70-02</td>#}
        {#                                    <td>15-30</td>#}
        {#                                    <td>70</td>#}
        {#                                </tr>#}
        {##}
        {#                                <tr>#}
        {#                                    <td rowspan="4">HYDROPHOBIC</td>#}
        {#                                    <td>HD-QNJSS-40-01</td>#}
        {#                                    <td>5-15</td>#}
        {#                                    <td>40</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJSS-40-02</td>#}
        {#                                    <td>15-30</td>#}
        {#                                    <td>40</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJSS-70-01</td>#}
        {#                                    <td>5-15</td>#}
        {#                                    <td>70</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HD-QNJSS-70-02</td>#}
        {#                                    <td>15-30</td>#}
        {#                                    <td>70</td>#}
        {#                                </tr>#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {#                        <br/><br/>#}
        {##}
        {#                        <div class="bs-docs-example">#}
        {#                            <table class="table table-bordered">#}
        {#                                <thead>#}
        {#                                <tr>#}
        {#                                    <th>SPECIFICATIONS</th>#}
        {#                                    <th>Test results</th>#}
        {#                                </tr>#}
        {#                                </thead>#}
        {#                                <tbody>#}
        {#                                <tr>#}
        {#                                    <td>THERMAL CONDUCTIVITY，W/(m·K)</td>#}
        {#                                    <td>0.013</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td> POROSITY，%</td>#}
        {#                                    <td>92</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>DENSITY，kg/m3</td>#}
        {#                                    <td>22</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>HYDRO REPELLING，%</td>#}
        {#                                    <td>95</td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>SURFACE TO WEIGHT RATIO，m2/g</td>#}
        {#                                    <td>960</td>#}
        {#                                </tr>#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {##}
        {##}
        {#                    </div>#}
        {#                    <br/><br/>#}
        {#                    <div>#}
        {#                        <a name="a2"></a>#}
        {#                        <h3>2. Aerogel insulating blanket:</h3><br/>#}
        {##}
        {#                        Aerogel blanket are fiber mesh sheets coated with aerogel liquid. It has the best thermal#}
        {#                        insulation#}
        {#                        property and makes the ideal insulation wrapping for oil industry, the cryo industry (such as#}
        {#                        LNG#}
        {#                        shipping, piping), the power industry, the building industry etc.<br/><br/>#}
        {#                        <div align="center">#}
        {#                            <br/><br/>#}
        {#                            <img src="/static/web/images/baowenzhan.png" class="img-responsive">#}
        {#                            <br/><br/>#}
        {#                        </div>#}
        {#                        Hong Hitech(Beijing) Co. Ltd has developed another patented technology to separate our aerogel sheet from others.#}
        {#                        Traditionally, the coating of the aerogel onto fiber mesh is done by submerge the fabric into#}
        {#                        the#}
        {#                        coating liquid, then take out and heated to dry. The product made by this process has some major#}
        {#                        quality#}
        {#                        issue. As the blanket bend or with the rain and shine, the coating will peel out, then of course#}
        {#                        the#}
        {#                        thermal protection will decrease. You may need to add or replace the defect blanket.<br/><br/>#}
        {##}
        {#                        Our technology using high vacuum pressure to suck the aerogel into the fiber sheet and mixed#}
        {#                        with#}
        {#                        the#}
        {#                        fiber. This made our product so much different from others as they almost will not peeling off#}
        {#                        and#}
        {#                        resist to whether beaten, so eliminate the chance to add or replace blanket cost. The customers#}
        {#                        could#}
        {#                        enjoy longer thermal insulating time and cost saving.<br/><br/>#}
        {##}
        {#                        HONG HITECH THERMAL BLANKET<br/><br/>#}
        {##}
        {#                        PRODUCTS SPECIFICATIONS:<br/><br/><br/>#}
        {##}
        {##}
        {#                        <div class="bs-docs-example">#}
        {#                            <table class="table table-bordered">#}
        {#                                <thead>#}
        {#                                <tr>#}
        {#                                    <th>AEROGEL THERMAL BLANKET</th>#}
        {#                                    <th>SIZES (UNIT mm）</th>#}
        {#                                    <th>SPECIFICATIONS</th>#}
        {#                                </tr>#}
        {#                                </thead>#}
        {#                                <tbody>#}
        {#                                <tr>#}
        {#                                    <td>THERMAL BLANKET</td>#}
        {#                                    <td>35000 X 1500 X 10 in rolls. Length made to order</td>#}
        {#                                    <td>Weight: 1800±200g/㎡ <br/>#}
        {#                                        Heat conductivity: 0.023W/(m·K)#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>THERMAL BLANKET</td>#}
        {#                                    <td>55000 × 1500 × 6 in rolls. Length made to order</td>#}
        {#                                    <td>Weight 1080±120g/㎡ <br/>Heat conductivity: 0.023W/(m·mmK)#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>THERMAL BLANKET</td>#}
        {#                                    <td>75000×1500×3#}
        {#                                        in rolls. Length made to order#}
        {#                                    </td>#}
        {#                                    <td>Weight: 480±65g/㎡<br/>#}
        {#                                        Heat conductivity: 0.023W/(m·K)#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>THERMAL BOARD</td>#}
        {#                                    <td>750×600×20#}
        {#                                        Length & width made to order#}
        {#                                    </td>#}
        {#                                    <td>Heat conductivity 0.032W/(m·K)</td>#}
        {#                                </tr>#}
        {##}
        {#                                <tr>#}
        {#                                    <td>THERMAL BOARD</td>#}
        {#                                    <td>1500×100×20#}
        {#                                        Length & width made to order#}
        {##}
        {#                                    </td>#}
        {#                                    <td>Heat conductivity 0.032W/(m·K)</td>#}
        {#                                </tr>#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#        </div>#}


        <div class="about-middle">
            <div class="container">


                <div align="center">
                    <h3>Hitech other technologies</h3><br/>

                </div>
                <p>
                    Hitech Co. has made major innovation breakthroughs in many technical areas including new energy
                    storage, smog control, biological sterilization, soil improvement, semiconductor substrate
                    production, etc. the company has applied for and obtained 45 patents(8 PCTs and 22 innovations).
                </p>
            </div>
        </div>

    </div>
{% endblock content %}
