{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Development of aerogel industry</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            Aerogel is a new material with nano porous structure. In 1931, it was made by S.Kistler, an
                            American scientist. It was applied to toothpaste and cosmetics at first, because it was
                            light mist, blue color, and also known as "blue smoke" and "frozen smoke". After many years
                            of research and exploration by scientists from France, Germany and other countries, aerogels
                            developed from Silicon, Carbon and Sulphur to many kinds of metal systems, and their
                            applications were greatly expanded. In 1993, aerogels were applied to Aeronautics and
                            Astronautics by NASA. At present, it has been widely used in thermal insulation, clothing,
                            metal modification and environmental treatment and other multi-purpose, broad prospects for
                            development, known as the top ten new materials in the new century. However, the further
                            development of aerogels is due to the fact that the manufacturing process is complex and the
                            scale production is not big enough, resulting in high price and insufficient output, and the
                            market application has been limited.

                            <br/><br/>
                            In recent years, the Hongda Technology Team (China) has developed a process of reducing
                            pressure, which is different from the traditional method of supercritical production of
                            aerogels, which reduces the difficulty of mass production and greatly reduces the price of
                            products. The technology has obtained many patents from the United States and other
                            countries, and the quality of gas gel products is excellent. Recently, the product test has
                            only 22Kg per cubic meter. The nano pore materials are of type A. It provides a new choice
                            for aerogels to be widely applied in various industries.

                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
