{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Development of aerogel industry</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>
                            Aerogel is a new material with nano porous structure. In 1931, it was first created by
                            S.Kistler, an American scientist. At the early stage of its invention, it was applied to
                            toothpaste and cosmetics at first. Because its light mist and blue color, aerogel is also
                            known as "blue smoke" and "frozen smoke". After many years of research and exploration by
                            scientists from France, Germany and other countries, aerogels have developed from Silicon
                            series, Carbon series and Sulphur series to metal series, and their applicatiopre have been
                            greatly expanded. In 1993, aerogels were applied to Aeronautics and Astronautics field by
                            NASA. At present, it has been widely used in thermal insulation, clothing, metal
                            modification and environmental treatment and other multi-purpose, broad applications.
                            Aerogels has been named as the top ten new materials in the new century. However, the
                            further development of aerogels is restricted due to the fact that the manufacturing process
                            is complex and the scale production is not big enough, resulting in high price and
                            insufficient output and limiting its application in the market.<br/><br/>

                            In recent years, the Hongda Technology Team (China) has developed a process of phased
                            decompression, which is different from the traditional method of usinng supercritical drying
                            to produce aerogels. This new process of phased decompression reduces the difficulty of mass
                            production and greatly reduces the price of products without sacrificing the quality of the
                            product. This technology has obtained many patents from the United States and other
                            countries. Aerogels manufactured by this new technology has a density of only 22Kg per cubic
                            meter. Nanapores distributed on the surface of aerogels can be seen under electron
                            microscope. This technology provides a possibility for aerogels to be widely applied in
                            various industries.

                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
