{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Aerogels</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>

                            Aerogels, also known as xerogels. When the gel dissolves most of the solvents, the liquid content in the gel is much less than that in the solid content, or the medium filled with the space in the gel network is gas, and its appearance is solid, which is called xerogels, also known as aerogel.
                            <br/><br/>
                            Aerogels are a form of solid matter, one of the very small density solids in the world. Because the density is very low, the lightest aerogel is only 0.16 mg per cubic centimeter, slightly lower than the air density, so it is also called "frozen smoke" or "blue smoke". There are many kinds of aerogels, such as Silicon, Carbon, Sulphur, metal oxide, metal and so on. The real aerogel particles are distributed on the surface of the nanopores under the electron microscope.
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
