{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Aerogels</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>

                            Aerogel is a porous, ultralight, synthetic material that is derived from replacing the
                            liquid component of a gel with gas, which makes it become a solid with extremely low density
                            and extremely low thermal conductivity. Being one of the lowest density solids in the world,
                            the lightest aerogel has a density of only 0.16 mg per cubic centimeter, slightly lower than
                            the air density. Due to its translucent nature and the way light scatters in the material,
                            aerogel is also called "frozen smoke" or "blue smoke". Aerogels can be made from different
                            chemical compounds such as Silicon, Carbon, Sulphur, metal oxide, metal and so on. When
                            using an electron microscope, one can see nanopores distributed on the surface of authentic
                            aerogel particles.
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
