{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Aerogels</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>

                            Advance Aerogel LLC is the exclusive distributor for Hong Hitech(Beijing) Co. Ltd.
                            Aerogel is one of the best new material in the world, which is developed by NASA and applied
                            to commercial use in last couple of decades.
                            <br/><br/>
                            Aerogels are a diverse class of ultralow density solids that combine multiple disparate and
                            extreme materials properties into a single material envelope. Aerogel materials generally
                            exhibit a high degree of porosity, high specific surface area, and superlative energy
                            damping (thermal, acoustic, and impact) properties.<br/><br/>
                            Silica aerogels are a common type of aerogel that combine ultralow thermal conductivity (as
                            low as 10 mW m-1 K-1) with extremely low density (as low as 0.001 g cm-3), high specific
                            surface area (500-2000 m2 g-1), low dielectric constant (as low as 1.02), and good optical
                            transparency (~91% per cm), making them uniquely valuable as high-performance insulators,
                            supports for chemical sensors and catalysts, and particle detectors.<br/><br/>
                            Mr. Guangwu Li founded Hong Hitech in 2013 after his long time research on aerogel.
                            Mr. Li spent long time for researching and developed a patented technology to manufacture
                            aerogel in a better and cheaper way, which provides the possibilities for aerogel to using
                            in a varieties of industries.
                        </p>
                    </div>
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
