{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="{% static 'web/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.js' %}"></script>
    <!-- //js -->
    <!-- animation-effect -->
    <link href="{% static 'web/css/animate.min.css' %}" rel="stylesheet">
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    {% block style %}

    {% endblock %}
</head>
<body>

<!-- banner -->
{% if request.path == "/" %}
    <div class="banner">

{% else %}
    <div class="banner-1">
{% endif %}

<div class="container">
    <div class="container">
        <div class="col-offset-10"><a href="/cn/">中文</a></div>
    </div>
    <div class="head-top wow fadeInLeft animated" data-wow-delay=".5s">
        <div class="navigation">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-11">
                        <ul class="nav navbar-nav">
                            <li><a href="/" data-hover="Home">Home</a></li>
                            <li><a href="/about/" data-hover="About">About</a></li>
                            <li><a href="/service/" data-hover="Services">Services</a></li>
                            <li><a href="/news/" data-hover="News">News</a></li>
                            {#                            <li><a href="/gallery/" data-hover="Gallery">Gallery</a></li>#}
                            <li><a href="/contact/" data-hover="Contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>


    </div>
    <div class="logo wow fadeInRight animated" data-wow-delay=".5s">
        <h1><a href="/">ADVANCE <span> </span> AEROGEL</a></h1>
    </div>
    {% block banner %}
    {% endblock banner %}
</div>
</div>
<!-- //banner -->
{% block content %}
{% endblock content %}
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="col-md-3 footer-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>Information</h4>
                <ul>
                    <li><a href="/about/"><span>&gt; </span>About</a></li>
                    {#                    <li><a href="/gallery/"><span>&gt; </span>Gallery</a></li>#}
                    <li><a href="/service/"><span>&gt; </span>Services</a></li>
                    <li><a href="/news/"><span>&gt; </span>News</a></li>
                    <li><a href="/contact/"><span>&gt; </span>Contact</a></li>
                    <li><a href="{% static 'web/images/专利韩国证书.pdf' %}"><span>&gt; </span>Korean Patent Certificate</a></li>
                    <li><a href="{% static 'web/images/专利证书-美国.pdf' %}"><span>&gt; </span>US Patent Certificate</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>New Solutions</h4>
                <ul>
                    <li><a href="#"><span>&gt; </span>Aerogel</a></li>
                    <li><a href="#"><span>&gt; </span>Aerogel insulating blanket</a></li>
                </ul>
                <h4>Partners</h4>
                <ul>
                    <li><a href=/hongna/><span>&gt; </span>Hongna luyuan Technology</a></li>
                    <li><a href=/hongda/><span>&gt; </span>Hongda Technology</a></li>
                </ul>
            </div>
            <div class="col-md-6 ft-left wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Newsletter</h4>
                <p>Proin congue metus mi, nec tempor tellus consectetur eget. Cum sociis natoque penatibus et magnis dis
                    parturient montes.</p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
<div class="footer-copy">
    <div class="container">
        <p class="animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
            Copyright&copy; 2020.
            <a href="http://www.haoming101.com/"
               target="_blank" title="昊明伙伴">
                昊明伙伴
            </a>
            -
            Collect from
            <a href="http://www.haoming101.com/" title="网页模板" target="_blank">
                网页模板
            </a>
        </p>
        <div class="copy-rights animated wow fadeInUp animated animated" data-wow-duration="1200ms"
             data-wow-delay="500ms">
            <ul>
                <li><a href="#"><span class="fa"> </span></a></li>
                <li><a href="#"><span class="tw"> </span></a></li>
                <li><a href="#"><span class="g"> </span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>
