{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Hong Hitech(Beijing) Co. Ltd</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <img src="{% static 'web/images/hongda1.jpg' %}">
                        <img src="{% static 'web/images/hongda2.jpg' %}">
                        <br/>
                        <p>
                        </p>
                    </div>
                    {#                        <div class="clearfix"></div>#}
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
