{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <style>
        img {
            max-width: 100%;
        }
    </style>

    <div class="typo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 services-grid">
                    <h2 class="title">Hongna luyuan
                            Technology Development Co. Ltd.</h2>
                    <br/>
                    <div style="text-align: left" align="center">
                        <br/>
                        <p>

                            We are the exclusive distributor of Hong Hitech Co. (Beijing) Ltd. and Hongna luyuan
                            Technology Development Co. Ltd. In North America region.
                            <br/><br/>


                            Founded in 2017, Beijing Hongna Luyuan Technology Development Co., Ltd. is a high-tech
                            enterprise focusing on environmental technology research and development, environmental
                            protect production and service, environmental engineering consulting and implementation.
                            The company adheres to the concept of harmony between human-being and nature and
                            advocate green and ecological new environmental protection. The company's core high-tech
                            products are plant-derived non-toxic germicidal deodorants. Its technology has been
                            continuously researched and improved by the company's chairman for more than ten years.
                            It has independent intellectual property rights, and its products can deodorize and
                            remove odors efficiently; it can be disinfected, eliminate insects eggs, repel
                            mosquitoes, fly, non-toxic, no residue, no pollution. The product is convenient and
                            quick to apply. It can be widely used in planting and breeding, sanitation, etc. It is
                            especially suitable for urban sanitation garbage disposal and urban gardening.

                        </p>
                    </div>
                    {#                        <div class="clearfix"></div>#}
                </div>
                {#                <div class="clearfix"></div>#}
            </div>
        </div>
    </div>
{% endblock content %}
